In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

dados = pd.read_csv('programacao2023.csv')

subconjunto1 = dados.loc[dados['Media'] < 6]

subconjunto2 = dados.loc[dados['Media'] > 9]

subconjunto3 = pd.concat([subconjunto1, subconjunto2], axis=0)

subconjunto3

    Matricula             Nome  Nota1  Nota2  Nota3  Media  Faltas
14     202315   Paulo Oliveira    5.5    5.5    5.0    5.3       7
10     202311   Karla Oliveira    9.5    9.0    9.5    9.3       0
20     202221   Adriana Santos    9.0    9.5    9.0    9.2       0
24     201925   Eduarda Santos    9.5    9.0    9.5    9.3       0
30     202031  Karina Oliveira    9.0    9.5    9.0    9.2       0